body{
    margin: 0;
    background-image: url("./images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
}

.todo-header {
    color: white;
    display: flex;
    width: 500px;
    margin: auto;
}

.game {
    text-align: left;   
}

.input-task-div {
    background-color: white;
    width: 500px;
    border-radius: 3px;
    margin: 0px auto 15px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#radio-input {
    margin-left: 10px;
    
}

.task-card {
    background-color: white;
    width: 500px;
    margin: 0px auto;
    padding: 10px 0px;
    display: flex;
    border-bottom: 1px solid black;
}

.comp-btn-blue{
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    color: black;
    margin: 5px 10px;
    background-color: blue;
}

.comp-btn-red{
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    color: black;
    margin: 5px 10px;
    background-color: red;
}

.clr-btn {
    font-size: 20px;
    border: 0;
    
    position: relative;
    right: -400px;
    cursor: pointer;
    
    color: black;
}

.task-card:hover button {
    color: black;
}

.tasks {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    
}

#items-left {
    padding: 10px 0px;
    
}

#items-num {
    padding: 10px 0px 10px 10px;
}

#clear-comp-div {
    
    margin: auto;  
    
    width: 30%;
}

#clear-comp {
    display: flex;
    margin: auto;
    justify-content: right;
    padding-right: 10px;
}

#filter-div {
    display: flex;
    margin: auto;
   
    width: 40%;
    align-items: center;
}

#all{
    padding: 0px 5px;
    margin: auto;
}

#com{
    padding: 0px 5px;
    margin: auto;
}

#com:hover{
    color: blue;
}

#act{
    padding: 0px 5px;
    margin: auto;
}

#dyn-num-div{
    width: 30%;
       
}