body{
    margin: 0;
    background-image: url("./images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
}

.todo-header {
    color: white;
    display: flex;
    width: 500px;
    margin: auto;
}

.game {
    text-align: left;   
}

.input-task-div {
    background-color: white;
    width: 500px;
    border-radius: 3px;
    margin: 0px auto 15px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#radio-input {
    margin-left: 10px;
    
}

.task-card {
    background-color: white;
    width: 500px;
    margin: 0px auto;
    padding: 10px 0px;
    display: flex;
    border-bottom: 1px solid black;
}

button {
    font-size: 20px;
    border: 0;
    
    position: relative;
    right: -400px;
    cursor: pointer;
    
    color: black;
}

.task-card:hover button {
    color: black;
}

.tasks {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    
}

#items-left {
    padding: 10px 15px;
}

#items-num {
    padding: 10px;
}

#clear-comp-div {
    display: flex;
    margin: auto;  
    background-color: bisque; 
}

#clear-comp {
    text-align: right;   
}

#filter-div {
    display: flex;
    margin: auto;
    
}